# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# PyMC / ArviZ
# =========================
*.nc

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# OS Files
# =========================
Thumbs.db
Desktop.ini

# =========================
# Logs
# =========================
*.log

# =========================
# Data (keep structure, ignore contents)
# =========================
data/raw/*
data/processed/*
data/

!data/raw/.gitkeep
!data/processed/.gitkeep

# =========================
# Reports exports
# =========================
# reports/*.pdf
 
# =========================
# Pytest cache
# =========================
.pytest_cache/

# =========================
# Temporary files
# =========================
*.tmp
*.bak
